*{
    box-sizing: border-box;
}
body{
    margin:0;
}
#nav_div{
    margin: 0;
    height: 70px;
    background-color: red;
}
#main_art_div{
    margin-bottom: 20px;
}
.main_art_class{
    height: 30%;
    border-top: 12px solid lightgray;
    border-left: 11px solid lightgray;
    border-right: 11px solid lightgray;
    text-align: center;
}
.main_art_class a {
    background: rgba(255,255,255,1);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(199,199,199,1) 100%);
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}
.main_art_class header h5 {
    color:whitesmoke;
}
.main_art_class header h2 {
    color:white;
}
#sub_art_div{
    margin-left: 30px;
    margin-right: 30px;
}
.sub_art_title{
    
    margin-bottom: 20px;
    margin-top: 20px;
    height: 28px;
    color:orange;
}
#sub_art_ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#sub_art_ul li{
    /* height: 19%; */
    height: 107px;
}
.sub_art_class {
    position: relative;
    margin-top: 25px;
    height: 107px;
    /* text-align: center; */
}

.sub_art_class a{ 
    text-decoration: none;
    color:black;
}
 .img_a{
    text-decoration: none;
    color: black;
    float: left;
}
.sub_art_class h4,h6 {
    position: relative;
}
.sub_art_class a img{
    margin-top:17.5px;
    height: 72px;
    width: 72px;
    display:inline-block;
}
.sub_art_class span{
    position: relative;
    top:25%;
}
.back_img_set{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#back_img_1{
    background-image:linear-gradient(to bottom, rgba(51,51,51,0.5) 0%, rgba(59,59,59,0.5) 12%, rgba(66,66,66,0.5) 25%, rgba(46,46,46,0.5) 54%, rgba(28,28,28,0.5) 72%, rgba(0,0,0,0.5) 75%, rgba(13,13,13,0.5) 77%, rgba(28,28,28,0.5) 82%, rgba(18,18,18,0.5) 91%, rgba(13,13,13,0.5) 100%) ,url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2017/11/android-google-796x438.jpg");
}

#back_img_2{
    background-image: linear-gradient(to bottom, rgba(51,51,51,0.5) 0%, rgba(59,59,59,0.5) 12%, rgba(66,66,66,0.5) 25%, rgba(46,46,46,0.5) 54%, rgba(28,28,28,0.5) 72%, rgba(0,0,0,0.5) 75%, rgba(13,13,13,0.5) 77%, rgba(28,28,28,0.5) 82%, rgba(18,18,18,0.5) 91%, rgba(13,13,13,0.5) 100%) ,url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2017/11/Tether-hed-796x398.jpg");
}
#back_img_3{
    background-image: linear-gradient(to bottom, rgba(51,51,51,0.5) 0%, rgba(59,59,59,0.5) 12%, rgba(66,66,66,0.5) 25%, rgba(46,46,46,0.5) 54%, rgba(28,28,28,0.5) 72%, rgba(0,0,0,0.5) 75%, rgba(13,13,13,0.5) 77%, rgba(28,28,28,0.5) 82%, rgba(18,18,18,0.5) 91%, rgba(13,13,13,0.5) 100%) ,url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2017/11/DJI-hed-796x398.jpg");
}
#sub_back_img1{
    background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2017/11/Swift-hed-2-540x270.jpg");
    background-repeat: no-repeat;
    background-size: 161px 107px;
    position: absolute;
    top: 0;
    left: 0;
}
@media screen and (min-width: 768px) {
    #back_img_1{
        width: 64%;
        height: 286px;
        float: left;
        border-bottom: 12px solid lightgray;
    }
    #back_img_2{
        width: 33%;
        height: 143px;
        float:left;
        border-left: none;
    }
    #back_img_3{
        width: 33%;
        height: 143px;
        float:left;
        border-left: none;
        border-bottom: 12px solid lightgray;
        
    }
    .sub_art_class{
        width: 30%;
        float: left;
        margin-left: 2%;
    }
    .sub_art_class a img{
        height: 100%;
        width: 100%;
        display:inline-block;
    }
    #sub_art_ul li{
        margin-left : 2%;

    }
}